Code/OneSound.lib filter=lfs diff=lfs merge=lfs -text
OneSound/Builds/VisualStudio2022/x64/Debug/Shared filter=lfs diff=lfs merge=lfs -text
OneSound/Builds/VisualStudio2022/x64/Debug/Standalone filter=lfs diff=lfs merge=lfs -text
Plugin/OneSound.pdb filter=lfs diff=lfs merge=lfs -text
OneSound/Builds/VisualStudio2022/x64/Debug/VST3/OneSound.pdb filter=lfs diff=lfs merge=lfs -text
OneSound/Builds/VisualStudio2022/.vs/OneSound/v17/Browse.VC.db filter=lfs diff=lfs merge=lfs -text
/.vs/slnx.sqlite filter=lfs diff=lfs merge=lfs -text
/OneSound/Builds/VisualStudio2022/.vs/OneSound/FileContentIndex/16f77f8f-b04f-4d5d-8ec2-a80c59d3ec69.vsidx filter=lfs diff=lfs merge=lfs -text
/OneSound/Builds/VisualStudio2022/.vs/OneSound/FileContentIndex/331d182e-cb68-4590-9cf1-3208caf95ccd.vsidx filter=lfs diff=lfs merge=lfs -text
/OneSound/Builds/VisualStudio2022/.vs/OneSound/FileContentIndex/b6c661f6-a9e2-43fc-b2e9-efb1cdfeae5e.vsidx filter=lfs diff=lfs merge=lfs -text
/OneSound/Builds/VisualStudio2022/.vs/OneSound/v17/Browse.VC.db filter=lfs diff=lfs merge=lfs -text
/OneSound/Builds/VisualStudio2022/.vs/OneSound/v17/Solution.VC.db filter=lfs diff=lfs merge=lfs -text
/OneSound/Builds/VisualStudio2022/.vs/OneSound/v17/fileList.bin filter=lfs diff=lfs merge=lfs -text
/OneSound/Builds/VisualStudio2022/OneSound_SharedCode.vcxproj filter=lfs diff=lfs merge=lfs -text
/OneSound/Builds/VisualStudio2022/OneSound_SharedCode.vcxproj.filters filter=lfs diff=lfs merge=lfs -text
/OneSound/Builds/VisualStudio2022/x64/Debug/Shared[[:space:]]Code/OneSound.09DF9F73.tlog/CL.command.1.tlog filter=lfs diff=lfs merge=lfs -text
/OneSound/Builds/VisualStudio2022/x64/Debug/Shared[[:space:]]Code/OneSound.09DF9F73.tlog/CL.read.1.tlog filter=lfs diff=lfs merge=lfs -text
/OneSound/Builds/VisualStudio2022/x64/Debug/Shared[[:space:]]Code/OneSound.lib filter=lfs diff=lfs merge=lfs -text
/OneSound/Builds/VisualStudio2022/x64/Debug/Shared[[:space:]]Code/OneSound.pdb filter=lfs diff=lfs merge=lfs -text
/OneSound/Builds/VisualStudio2022/x64/Debug/Shared[[:space:]]Code/PluginEditor.obj filter=lfs diff=lfs merge=lfs -text
/OneSound/Builds/VisualStudio2022/x64/Debug/Shared[[:space:]]Code/PluginProcessor.obj filter=lfs diff=lfs merge=lfs -text
/OneSound/Builds/VisualStudio2022/x64/Debug/Shared[[:space:]]Code/include_juce_audio_basics.obj filter=lfs diff=lfs merge=lfs -text
/OneSound/Builds/VisualStudio2022/x64/Debug/Shared[[:space:]]Code/include_juce_audio_devices.obj filter=lfs diff=lfs merge=lfs -text
/OneSound/Builds/VisualStudio2022/x64/Debug/Shared[[:space:]]Code/include_juce_audio_formats.obj filter=lfs diff=lfs merge=lfs -text
/OneSound/Builds/VisualStudio2022/x64/Debug/Shared[[:space:]]Code/include_juce_audio_processors.obj filter=lfs diff=lfs merge=lfs -text
/OneSound/Builds/VisualStudio2022/x64/Debug/Shared[[:space:]]Code/include_juce_audio_utils.obj filter=lfs diff=lfs merge=lfs -text
/OneSound/Builds/VisualStudio2022/x64/Debug/Shared[[:space:]]Code/include_juce_core.obj filter=lfs diff=lfs merge=lfs -text
/OneSound/Builds/VisualStudio2022/x64/Debug/Shared[[:space:]]Code/include_juce_data_structures.obj filter=lfs diff=lfs merge=lfs -text
/OneSound/Builds/VisualStudio2022/x64/Debug/Shared[[:space:]]Code/include_juce_events.obj filter=lfs diff=lfs merge=lfs -text
/OneSound/Builds/VisualStudio2022/x64/Debug/Shared[[:space:]]Code/include_juce_graphics.obj filter=lfs diff=lfs merge=lfs -text
/OneSound/Builds/VisualStudio2022/x64/Debug/Shared[[:space:]]Code/include_juce_graphics_Harfbuzz.obj filter=lfs diff=lfs merge=lfs -text
/OneSound/Builds/VisualStudio2022/x64/Debug/Shared[[:space:]]Code/include_juce_graphics_Sheenbidi.obj filter=lfs diff=lfs merge=lfs -text
/OneSound/Builds/VisualStudio2022/x64/Debug/Shared[[:space:]]Code/include_juce_gui_basics.obj filter=lfs diff=lfs merge=lfs -text
/OneSound/Builds/VisualStudio2022/x64/Debug/Shared[[:space:]]Code/include_juce_gui_extra.obj filter=lfs diff=lfs merge=lfs -text
/OneSound/Builds/VisualStudio2022/x64/Debug/Standalone[[:space:]]Plugin/OneSound.ED0FCDFA.tlog/CL.read.1.tlog filter=lfs diff=lfs merge=lfs -text
/OneSound/Builds/VisualStudio2022/x64/Debug/Standalone[[:space:]]Plugin/OneSound.exe filter=lfs diff=lfs merge=lfs -text
/OneSound/Builds/VisualStudio2022/x64/Debug/Standalone[[:space:]]Plugin/OneSound.ilk filter=lfs diff=lfs merge=lfs -text
/OneSound/Builds/VisualStudio2022/x64/Debug/Standalone[[:space:]]Plugin/OneSound.pdb filter=lfs diff=lfs merge=lfs -text
/OneSound/Builds/VisualStudio2022/x64/Debug/Standalone[[:space:]]Plugin/include_juce_audio_plugin_client_Standalone.obj filter=lfs diff=lfs merge=lfs -text
/OneSound/Builds/VisualStudio2022/x64/Debug/VST3[[:space:]]Manifest[[:space:]]Helper/juce_VST3ManifestHelper.obj filter=lfs diff=lfs merge=lfs -text
/OneSound/Builds/VisualStudio2022/x64/Debug/VST3[[:space:]]Manifest[[:space:]]Helper/juce_vst3_helper.exe filter=lfs diff=lfs merge=lfs -text
/OneSound/Builds/VisualStudio2022/x64/Debug/VST3[[:space:]]Manifest[[:space:]]Helper/juce_vst3_helper.ilk filter=lfs diff=lfs merge=lfs -text
/OneSound/Builds/VisualStudio2022/x64/Debug/VST3[[:space:]]Manifest[[:space:]]Helper/juce_vst3_helper.pdb filter=lfs diff=lfs merge=lfs -text
/OneSound/Builds/VisualStudio2022/x64/Debug/VST3/OneSound.dll filter=lfs diff=lfs merge=lfs -text
/OneSound/Builds/VisualStudio2022/x64/Debug/VST3/OneSound.ilk filter=lfs diff=lfs merge=lfs -text
/OneSound/Builds/VisualStudio2022/x64/Debug/VST3/OneSound.pdb filter=lfs diff=lfs merge=lfs -text
/OneSound/Builds/VisualStudio2022/x64/Debug/VST3/OneSound.vst3/Contents/x86_64-win/OneSound.vst3 filter=lfs diff=lfs merge=lfs -text
/OneSound/Builds/VisualStudio2022/x64/Debug/VST3/OneSound_VST3.tlog/CL.read.1.tlog filter=lfs diff=lfs merge=lfs -text
/OneSound/Builds/VisualStudio2022/x64/Debug/VST3/include_juce_audio_plugin_client_VST3.obj filter=lfs diff=lfs merge=lfs -text
/OneSound/Builds/VisualStudio2022/.vs/OneSound/FileContentIndex/0ca51510-c7c3-4fbe-b8dd-221337afa562.vsidx filter=lfs diff=lfs merge=lfs -text
/OneSound/Builds/VisualStudio2022/.vs/OneSound/FileContentIndex/29be1466-18ab-4c02-be04-e2ec5b7240ee.vsidx filter=lfs diff=lfs merge=lfs -text
/OneSound/Builds/VisualStudio2022/.vs/OneSound/FileContentIndex/548180f7-de0e-44fa-be99-67822c5030be.vsidx filter=lfs diff=lfs merge=lfs -text
/OneSound/Builds/VisualStudio2022/.vs/OneSound/v17/ipch/AutoPCH/4c00cade3bc05831/PLUGINEDITOR.ipch filter=lfs diff=lfs merge=lfs -text
/OneSound/Builds/VisualStudio2022/.vs/OneSound/v17/ipch/AutoPCH/bf96b8790ae9011e/PLUGINPROCESSOR.ipch filter=lfs diff=lfs merge=lfs -text
